* {
    font-family: 'Rampart One', cursive;
}

body {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

.selector {
    color: lightcyan;
}

.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

#universal {
    color: lightgoldenrodyellow;
}

h2.selector,
h2.universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

span {
    font-weight: 900;
    background-color: black;
    color: white;
}

li a {
    text-decoration: none;
}

h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0, 5px;
    border-radius: 5px;
}

div #gallery {
    width: 100%;
}

img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}